$rouge: #de443a;
$grisfonce: #616161;
$serif: 'noticia text' 'times new roman';
$sans: 'Merriweather Sans' 'lucida grande';

/** Général **/
body {
	font-family: "noticia text";
	font-size: 17px;
	line-height: 25px;
	a {
		color: $rouge;
		text-decoration: none;
		&:hover {
			color: #f76f6f;
		}
	}
}
div.clear {
	clear: both;
}
div.large {
	background-color: #f2f2f2;
}

ul.navi {
	li {
		display: block;
		border-right: 1px solid #f2f2f2;
		float: left;
		font-family: $serif;
		font-size: 14px;
		font-weight: 700;
		margin-top: 40px;
		a {
			display: block;
			width: 45px;
			padding: 9px 0;
			text-align: center;
			&.actif {
				background-color: #f2f2f2;
				color: $grisfonce;
			}
		}
		&:last-child {
			border-right: 0;
		}
	}	
}
div.bouton {
	margin-top: 20px;
	a {
		display: block;
		float: left;
		padding: 15px 25px;
		margin-right: 20px;
		background-color: $rouge;
		color: white;
		font-weight: bold;
	}
}
img.social {
	float: right;
	margin-left: 10px;
}
div.nospace {
	margin-top: -6px;
	margin-bottom: -3px;
}


/** Trucs général **/
div.recherche {
	margin: 16px 0 20px 20px;		
	input {
		float: right;
		width: 250px;
		padding: 3px;
		margin-bottom: 16px;
		font-family: $serif;
		font-size: 16px;
		color: gray;
	}
	&.breves input {
		width: 570px;
	}	
}
div.menu {
	ul {
		li {
			float: left;
			margin-left: 20px;
			border-bottom: 1px solid #e5e5e5;
			font-size: 16px;
			line-height: 18px;
			a {
				display: block;
				padding: 20px 0;
				width: 170px;
				text-decoration: none;
				color: black;
				font-weight: bold;
				&:hover {
					color: #de443a;
				}
			}
		}
	}
}
div.footer {
	background-color: #262626;
	padding: 30px 0 60px;
	ul {
		width: 600px;
		padding-bottom: 40px;
		margin-right: auto;
		margin-left: auto;
		li {
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding: 0 10px;
			float: left;
			a {
				color: #969696;
				&:hover {
					color: $grisfonce;
				}
			}
		}
	}
	h2 {
		width: 200px;
		margin: 0 auto;
		a {
			color: white;
			font-size: 27px;
			&:hover {
				color: $rouge;
			}
		}
	}
}

article {
	&.nophoto {
		div.boite {
			position: relative;
		}
		div.corps {
			margin-top: -19px;
		}
	}	
	margin: 0 0 45px;
	header {
		div.boite {
			float: left;
			position: absolute;
			z-index: 3;
			margin: 30px 0 0 10px;
			div.titre {
				width: 300px;
				padding-bottom: 20px;
				border-top: 20px solid $rouge;
				background-color: white;
				h1 {
					margin: 20px 20px 0 0;
					font-size: 30px;
					line-height: 40px;
					a {
						color: black;
						&:hover {
							color: $grisfonce;
						}
					}
				}
				h2 {
					margin-top: 20px;
					color: #a2a2a2;
					font-size: 20px;
					font-weight: normal;
				}
			}
			div.info {
				font-family: $sans;
				width: 200px;
				p {
					color: $rouge;
					font-size: 12px;
					line-height: 10px;
					font-weight: bold;
					text-transform: uppercase;
					span {
						display: block;
						margin-top: 10px;
						font-weight: normal;
						color: #a2a2a2;
					}
				}
				
			}
		}
		div.photo {
			float: right;
			img {
				margin-top:-3px;
				margin-bottom: 20px;
			}
		}
	}
	div.corps {
		margin-top: 20px;
		p {
			text-indent: 15px;
			span {
				font-family: $sans;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
		div.exergue {
			float: right;
			margin-right: -190px;
			border-top: 11px solid $rouge;
			p {
				text-indent: 0px;
				font-size: 25px;
				line-height: 35px;
				color: #a2a2a2;
			}
		}
	}

	footer {
		margin: 35px 0 85px;
		font-size: 12px;
		line-height: 18px;
		font-family: $sans;
		color: #bcbcbc;
		text-transform: uppercase;
		a {
			font-weight: 800;
		}
	}
}
div.breve {
	padding: 30px 0;
	div.titre {
		color: $grisfonce;
		font-family: $sans;
		font-weight: 400;
		font-size: 19px;
		line-height: 27px;
		text-transform: uppercase;
	}
	div.texte {
		color: $grisfonce;
		font-size: 14px;
		line-height: 20px;
		span {
			font-family: $sans;
			font-weight: 800;
			font-size: 12px;
			text-transform: uppercase;
		}
	}
	div.autre {
		color: $rouge;
		font-family: $sans;
		font-weight: 800;
		font-size: 10px;
		text-transform: uppercase;
	}
}

/** Accueil **/
div.appel {
	ul {
		li {
			float: left;
/*			border-right: 1px solid #f2f2f2;
			&:last-child {
				border-right: 0;
			}
*/			a {
				img {
					width: 326px;
					height: 167px;
					margin-right: 0px;
				}
			}
		}
	}
}

/** Page brèves **/
body.breve {
	a.retour {
		display: block;
		position: absolute;
		margin: 68px 0 0 42px;
		font-family: $sans;
		font-weight: 800;
		font-size: 10px;
		text-transform: uppercase;
		span {
			font-size: 15px;
		}
	}
	div.head h1 {
		margin: 60px 0 140px;
		font-size: 42px;
		font-weight: 700;
		color: $rouge;
		span {
			color: #cfcfcf;
			font-weight: normal;
		}
	}
	div.breve {
		h2, dt {
			margin-top: 35px;
			font-family: $sans;
			font-size: 14px;
			font-weight: 800;
			text-transform: uppercase;
		}
		p, dd {
			padding-bottom: 25px;
			border-bottom: 1px solid #d9d9d9;
			&:last-child {
				border-bottom: 0;
			}
			span.signature {
				font-family: $sans;
				color: #9b9b9b;
				font-weight: 800;
				font-size: 12px;
				text-transform: uppercase;
				span {
					font-weight: normal;
				}
			}
		}
	}
	div.navi {
		img {
			margin-top: 75px;
		}
	}
	
	h3 {
		margin: 70px 0 40px;
		font-size: 16px;
		color: #9c9c9c;
		font-weight: normal;
		a {
			font-weight: bold;	
		}
	}

	a.autre {
		display: block;
		float: left;
		margin-top: 15px;
	}
}